<!DOCTYPE html>
<head>
   <title>PiGoSemiPro Web</title>
</head>

<body>
   <h1>PiGoSemiPro - possible actions</h1>

   {% for pin in pins %}
   <p>
   <FORM>
      <INPUT TYPE="button" onClick="parent.location='/{{pin}}/toggle'" VALUE="{{ pins[pin].name }}">
   </FORM>   
   </p>
   {% endfor %}

   <p>
   <FORM>
      <INPUT TYPE="button" onClick="parent.location='/startstop'" VALUE="{{ startStopBtnMsg }} PiGoSemiPro">
   </FORM>   
   </p>

   {% if message %}
   <h2>{{ message }}</h2>
   {% endif %}

</body>
</html>
